@use '../../styles/mixins/shadows.scss' as mix;
@use '../../styles/constants/colours.scss' as colour;

.oops {
  h1 {
    color: colour.$pink;
    margin-bottom: 2rem;
  }

  a {
    color: colour.$light;
    margin-top: 0.625rem;
    display: inline-block;
  }
}
