@use '../../styles/constants/colours.scss' as colour;

.button {
  background-color: colour.$blue;
  margin-top: 1.25rem;
  padding: 0.75rem 0.625rem;
}

.welcome {
  h1 {
    margin-bottom: 3rem;
  }

  p {
    margin-bottom: 2rem;
    max-width: 60ch;
    font-size: 1.25em;
  }
}

.answer-inputs {
  max-width: 70ch;
  margin-bottom: 2em;
  margin-top: 2em;

  input {
    display: block;
    width: 100%;
    padding: 10px;
    max-width: 10em;
    margin-top: 0.625rem;
  }
}

.green {
  color: colour.$green-dark;
  font-weight: bold;
}
